@using Entities.DTOs.CategoryDTOs
@model Entities.DTOs.CategoryDTOs.CategoryListDto
@{
    int count = 0;
}

<div>
    <div class="row align-items-center">
        <div class="col-10" style="justify-content: start">
            <h1>Category:</h1>
        </div>
        <div class="col-2" style="justify-content: end">
            <a class="btn btn-primary" asp-controller="category" asp-action="create">Add <i class="bi bi-plus-circle"></i></a>
            <a class="btn btn-outline-danger" asp-controller="category" asp-action="deletedTable">Deleted <i class="bi bi-trash-fill"></i></a>
        </div>
    </div>
    <div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="categoryTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Created time</th>
                            <th>Updated time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (CategoryGetDto category in Model.CategoryGets)
                        {
                            count++;
                            <tr>
                                <th scope="row">@(count)</th>
                                <td>@category.Name</td>
                                <td>@category.CreatedTime.ToShortDateString()</td>
                                <td>@category.ModifiedTime.ToShortDateString()</td>
                                <td style="text-align:center">
                                    <a class="btn btn-warning" asp-area="Manage" asp-controller="category" asp-action="update" asp-route-id="@category.Id"><i class="bi bi-pen-fill"></i></a>
                                    <a class="btn btn-danger deleteButton" asp-area="Manage" asp-controller="category" asp-action="Delete" asp-route-id="@category.Id"><i class="bi bi-trash-fill"></i></a>
                                </td>
                            </tr>
                        }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#categoryTable').DataTable();
        });
    </script>
}