@using Entities.DTOs.ContactDTOs
@model Entities.DTOs.ContactDTOs.ContactListDto
@{
    int count = 0;
}

<div>
    <div class="row align-items-center">
        <div class="col-10" style="justify-content: start">
            <h1>Messages:</h1>
        </div>
        <div class="col-2" style="justify-content: end">
            <a class="btn btn-outline-danger" asp-controller="Message" asp-action="deletedTable">Deleted <i class="bi bi-trash-fill"></i></a>
        </div>
    </div>
    <div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="contactTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Subject</th>
                            <th>Status</th>
                            <th>Created time</th>
                            <th>Updated time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ContactGetDto message in Model.Contacts)
                        {
                            count++;
                            <tr>
                                <th scope="row">@(count)</th>
                                <td>@message.FullName</td>
                                <td>@message.Subject</td>
                                <td>
                                    <span style="padding: 5px;" class="badge badge-@(message.IsActive == true ? "danger" : "success")">@(message.IsActive == true ? "Unread" : "Readed")</span>
                                </td>
                                <td>@message.CreatedTime.ToShortDateString()</td>
                                <td>@message.ModifiedTime.ToShortDateString()</td>
                                <td style="text-align:center">
                                    <a class="btn btn-info" href="mailto:@message.Email"><i class="bi bi-send-fill"></i> Send email</a>
                                    <a class="btn btn-primary" asp-area="Manage" asp-controller="Message" asp-action="detail" asp-route-id="@message.Id"><i class="bi bi-info-circle-fill"></i></a>

                                    @if (message.IsActive == true)
                                    {
                                        <a class="btn btn-success statusBtn" asp-area="Manage" asp-controller="Message" asp-action="status" asp-route-id="@message.Id"><i class="bi bi-check-circle-fill"></i></a>
                                    }

                                    <a class="btn btn-danger deleteButton" asp-area="Manage" asp-controller="Message" asp-action="Delete" asp-route-id="@message.Id"><i class="bi bi-trash-fill"></i></a>
                                </td>
                            </tr>
                        }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#contactTable').DataTable();
        });
    </script>
}