@model Doctor
@{
    List<Setting> settings = ViewBag.Settings;
}

<section class="inner-bg over-layer-black" style="background-image: url('../assets/img/bg/4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="mini-title inner-style-2">
                    <h3>Doctor Details</h3>
                    <p><a asp-controller="home" asp-action="index">Home</a> <span class="fa fa-angle-right"></span> Doctor Details</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team start -->
<section class="team-area">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-5">

                    <div class="team-item-2">
                        <img src="~/uploads/doctors/@Model.ImageURL" alt="">
                        <div class="team-contact">
                            <ul>
                                <li><a href="@Model.InstagramURL"><i class="bi bi-instagram"></i></a></li>
                                <li><a href="@Model.LinekedInURL"><i class="bi bi-linkedin"></i></a></li>
                                <li><a href="@Model.FacebookURL"><i class="bi bi-facebook"></i></a></li>
                                <li><a href="@Model.TwitterURL"><i class="bi bi-twitter"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h4><a>Dr. @Model.FullName</a></h4>
                            <h6>@Model.Profession.Name</h6>
                        </div>
                    </div>
                    <div class="team-details">
                        <address>
                            <ul>
                                <li><i class="fa-sharp fa-solid fa-phone"></i>Phone: @Model.Phone</li>
                                <li><i class="bi bi-alarm-fill"></i>Sunday Closed.</li>
                                <li><i class="fa-solid fa-envelope"></i><a href="mailto:@Model.Email">Email: @Model.Email</a></li>
                            </ul>
                        </address>
                    </div>

                    <div class="bg-f8 padding-20 margin-top-50">
                        <div class="footer-item footer-widget-one margin-bottom-10">
                            <div class="footer-title">
                                <h4>Opening Hour</h4>
                                <div class="border-style-2"></div>
                            </div>
                            <ul class="footer-list border-deshed">
                                <li class="clearfix">
                                    <span> Monday - Friday : </span>
                                    <div class="value pull-right"> @settings.FirstOrDefault(x => x.Key == "Monday-Friday").Value </div>
                                </li>
                                <li class="clearfix">
                                    <span>  Saturday : </span>
                                    <div class="value pull-right">  @settings.FirstOrDefault(x => x.Key == "Saturday").Value </div>
                                </li>
                                <li class="clearfix">
                                    <span> Sunday : </span>
                                    <div class="value pull-right"> @settings.FirstOrDefault(x => x.Key == "Sunday").Value </div>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="col-md-7 team-area">
                    <div class="team-details-content">
                        <h2><a> DR. @Model.FullName </a></h2>
                        <h6>@Model.Profession.Name</h6>

                        <h4>History of medical specialization</h4>
                        <ul class="list-style margin-left-10">

                            @foreach (Specialization specialization in Model.Specializations)
                            {
                                if (specialization.Text != "-")
                                {
                                    <li><i class="fa fa-angle-right margin-right-10"></i> @specialization.Text</li>
                                }
                            }
                            
                        </ul>
                        <div class="margin-bottom-30">
                            <h4>EDUCATION & MEDICAL TRAINING</h4>
                            <div class="border-style-2 margin-bottom-30"></div>
                            <ul class="list-style margin-left-10">
                                
                                @foreach (Education education in Model.Educations)
                                {
                                    if (education.Text != "-")
                                    {
                                        <li><i class="fa fa-angle-right margin-right-10"></i> @education.Text</li>
                                    }
                                }
                                
                            </ul>
                        </div>
                        <div class="margin-bottom-30">
                            <h4>Training</h4>
                            <div class="border-style-2 margin-bottom-30"></div>
                            <ul class="list-style margin-left-10">

                                @foreach (Training training in Model.Training)
                                {
                                    if (training.Text != "-")
                                    {
                                        <li><i class="fa fa-angle-right margin-right-10"></i> @training.Text</li>
                                    }
                                }
                                
                            </ul>
                        </div>

                        <div class="margin-bottom-30">
                            <h4>CERTIFICATIONS</h4>
                            <div class="border-style-2 margin-bottom-30"></div>
                            <ul class="list-style margin-left-10">

                                @foreach (Certification certification in Model.Certifications)
                                {
                                    if (certification.Text != "-")
                                    {
                                        <li><i class="fa fa-angle-right margin-right-10"></i> @certification.Text</li>
                                    }
                                }
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team end -->
<!-- divider start -->
@await Html.PartialAsync("DividerPartialView", settings)
<!-- divider end -->