@model DoctorViewModel

<section class="inner-bg over-layer-black" style="background-image: url('../assets/img/bg/4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="mini-title inner-style-2">
                    <h3>EXPERIENCE Doctor</h3>
                    <p><a asp-controller="home" asp-action="index">Home</a> <span class="fa fa-angle-right"></span> <a asp-controller="doctor" asp-action="index">Our Doctor</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Team start -->
<section class="team-area">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="">

                    @foreach (Doctor doctor in Model.Doctors)
                    {
                        <div class="col-md-3">
                            <div class="team-item-2">
                                <img src="~/uploads/doctors/@doctor.ImageURL" alt="">
                                <div class="team-contact">
                                    <ul>
                                        <li><a href="@doctor.InstagramURL"><i class="bi bi-instagram"></i></a></li>
                                        <li><a href="@doctor.LinekedInURL"><i class="bi bi-linkedin"></i></a></li>
                                        <li><a href="@doctor.FacebookURL"><i class="bi bi-facebook"></i></a></li>
                                        <li><a href="@doctor.TwitterURL"><i class="bi bi-twitter"></i></a></li>
                                    </ul>
                                </div>
                                <div class="team-content">
                                    <h4><a asp-controller="doctor" asp-action="detail" asp-route-id="@doctor.Id">Dr. @doctor.FullName</a></h4>
                                    <h6>@doctor.Profession.Name</h6>
                                </div>
                                <div class="timetable">
                                    <div class="item">
                                        <div class="label">Monday-Friday</div>
                                        <div class="value">@Model.Settings.First(x => x.Key == "Monday-Friday").Value</div>
                                    </div>
                                    <div class="item">
                                        <div class="label">Saturday</div>
                                        <div class="value">@Model.Settings.First(x => x.Key == "Saturday").Value</div>
                                    </div>
                                    <div class="item">
                                        <div class="label">Sunday</div>
                                        <div class="value">@Model.Settings.First(x => x.Key == "Sunday").Value</div>
                                    </div>
                                    <a asp-controller="doctor" asp-action="detail" asp-route-id="@doctor.Id" class="btn-theme text-center btn-block"> View Profile</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team end -->
<!-- divider start -->
@await Html.PartialAsync("DividerPartialView", Model.Settings)
<!-- divider end -->