@model OrderViewModel
@{
    List<Setting> settings = ViewBag.Settings;
    double totalPrice = 0;
    double price = 0;
}

<section class="inner-bg over-layer-black" style="background-image: url('../assets/img/bg/4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="mini-title inner-style-2">
                    <h3>Shop </h3>
                    <p><a asp-controller="home" asp-action="index">Home</a> <span class="fa fa-angle-right"></span> <a asp-controller="shop" asp-action="checkout">Checkout </a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="shop-tab">

                    <div class="tab-content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <div class="panel panel-info panel-border">
                                <div class="panel-heading panel-bg"><i class="fa fa-map-o"></i> Shipping Address</div>

                                <form method="post" asp-controller="order" asp-action="order">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="col-md-6 col-xs-12">
                                                <label asp-for="Name">First Name:</label>
                                                <input asp-for="Name" class="form-control" placeholder="Your First Name" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                            <div class="span1"></div>
                                            <div class="col-md-6 col-xs-12">
                                                <label asp-for="Surname">Last Name:</label>
                                                <input asp-for="Surname" class="form-control" placeholder="Your Last Name" />
                                                <span asp-validation-for="Surname" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><label asp-for="Email">Email Address:</label></div>
                                            <div class="col-md-12"><input asp-for="Email" placeholder="Your Email" class="form-control" /></div>
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><label asp-for="Phone">Phone Number:</label></div>
                                            <div class="col-md-12"><input asp-for="Phone" placeholder="Your Phone Number" class="form-control" /></div>
                                            <span asp-validation-for="Phone" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><label asp-for="Address">Address:</label></div>
                                            <div class="col-md-12">
                                                <input asp-for="Address" class="form-control" placeholder="Your Address" />
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><label asp-for="Country">Country:</label></div>
                                            <div class="col-md-12">
                                                <input asp-for="Country" class="form-control" name="country" placeholder="Your Country" />
                                                <span asp-validation-for="Country" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><label asp-for="City">City:</label></div>
                                            <div class="col-md-12">
                                                <input asp-for="City" class="form-control" placeholder="Your City" />
                                                <span asp-validation-for="City" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12"><label asp-for="ZipCode">Zip / Postal Code:</label></div>
                                            <div class="col-md-12">
                                                <input asp-for="ZipCode" class="form-control" placeholder="Your Zip Code" />
                                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-theme btn-block">Order</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-horizontal">
                <div class="panel panel-info panel-border margin-top-none">
                    <div class="panel-heading panel-bg">
                        <i class="fa fa-television"></i> Review Order <div class="pull-right"></div>
                    </div>
                    <div class="panel-body">

                        @foreach (var item in Model.CheckoutItems)
                        {
                            price = item.Product.Price * (1 - (item.Product.DiscountPercent/100)) * item.Count;
                            totalPrice += price;

                            <div class="form-group">
                                <div class="col-sm-3 col-xs-3">
                                    <img class="img-responsive" src="~/uploads/products/@item.Product.ImageUrl" />
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="col-xs-12">@item.Product.Name</div>
                                    <div class="col-xs-12"><small>Quantity:<span>@item.Count</span></small></div>
                                </div>
                                <div class="col-sm-3 col-xs-3 text-right">
                                    @if (item.Product.DiscountPercent > 0)
                                    {
                                        <h6 class="text-danger"><span>%</span>@item.Product.DiscountPercent</h6>
                                    }
                                    <a class="removeFromBasket" asp-controller="shop" asp-action="RemoveBasket" asp-route-productId="@item.Product.Id"><i class="bi bi-trash-fill"></i></a>
                                    <h5><span>$</span>@price</h5>
                                </div>
                            </div>
                            <div class="form-group"><hr /></div>
                        }

                        <div class="form-group">
                            <div class="col-xs-12">
                                <strong>Subtotal</strong>
                                <div class="pull-right"><span>$</span><span>@totalPrice</span></div>
                            </div>
                        </div>
                        <div class="form-group"><hr /></div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <strong>Order Total</strong>
                                <div class="pull-right"><span>$</span><span>@totalPrice</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- divider start -->
@await Html.PartialAsync("DividerPartialView", settings)
<!-- divider end -->
