@model ShopViewModel
@{
    Product popular = Model.Products.FirstOrDefault(x => x.IsPopular == true);
    Product topSeller = Model.Products.FirstOrDefault(x => x.TopSeller == true);
}

<section class="inner-bg over-layer-black" style="background-image: url('../assets/img/bg/4.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="mini-title inner-style-2">
                    <h3>Shop </h3>
                    <p><a asp-controller="home" asp-action="index">Home</a> <span class="fa fa-angle-right"></span> <a asp-controller="shop" asp-action="index">Shop </a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shop-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="blog-sideber">
                    <div class="widget clearfix">
                        <div class="sideber-title">
                            <h4>Best PRODUCTS</h4>
                        </div>
                        <div class="product-item">
                            <a asp-controller="shop" asp-action="AddToBasket" asp-route-productId="@popular.Id" class="addToBasket">
                                <img src="~/uploads/products/@popular.ImageUrl" alt="" />
                                <span>$ @popular.Price /<sub>Only</sub></span>
                                <p>Add to basket</p>
                            </a>
                        </div>
                    </div>
                    <div class="widget clearfix">
                        <div class="sideber-title">
                            <h4>TOP SELLERS</h4>
                        </div>

                        <div class="widget">
                            <div class="shop-sell-item">
                                <a asp-controller="shop" asp-action="AddToBasket" asp-route-productId="@topSeller.Id" class="addToBasket"><img alt="#" src="~/uploads/products/@topSeller.ImageUrl"></a>
                            </div>
                            <div class="shop-sell-details">
                                <h5><a asp-controller="shop" asp-action="AddToBasket" asp-route-productId="@topSeller.Id" class="addToBasket">@topSeller.Name</a></h5>
                                <h5>$ @topSeller.Price</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="shop-banner">
                    <img src="~/uploads/settings/@Model.Settings.FirstOrDefault(x => x.Key == "Shop image").Value" alt="" />
                </div>
                <div class="tab-pane">
                    <div class="row">

                        @foreach (Product product in Model.Products)
                        {
                            <div class="col-md-12">
                                <div class="shop-list-single shop-product-item-area">
                                    <div class="shop-list-left-content">
                                        <a asp-controller="shop" asp-action="AddToBasket" asp-route-productId="@product.Id" class="addToBasket"><img src="~/uploads/products/@product.ImageUrl" alt="" /></a>

                                    </div>
                                    <div class="shop-list-right-content">
                                        <div class="product-content">
                                            <h2><a asp-controller="shop" asp-action="AddToBasket" asp-route-productId="@product.Id" class="addToBasket">@product.Name</a></h2>
                                            <p><b>$ @product.Price</b></p>

                                        </div>
                                        <div class="product-details">
                                            <p>@product.Description</p>
                                        </div>
                                        <div style="margin-bottom: 30px;">
                                            <a asp-controller="shop" asp-action="AddToBasket" asp-route-productId="@product.Id" class="btn btn-simple addToBasket">Add to Cart</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- divider start -->
@await Html.PartialAsync("DividerPartialView", Model.Settings)