@using Entities.Concrete
@inject Business.Services.Concrete.LayoutService service
@{
    List<Setting> settings = await service.GetSettings();
}

<!DOCTYPE html>
<html lang="en">



<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Medicative Hospital</title>

    @await Html.PartialAsync("_LayoutCssPartial")

</head>

<body>

    <div class="preloader"></div>

    <!-- Header navbar start -->
    <div class="header-topbar style-2">
        <div class="container padding-none">
            <div class="row">
                <div class="col-md-8 col-sm-6 welcome-top">
                    <ul class="list-inline top-icon">
                        <li><i class="fa fa-envelope"></i> @settings.FirstOrDefault(x => x.Key == "Email").Value</li>
                        <li><i class="fa fa-clock-o"></i> Mon - Fri @settings.FirstOrDefault(x => x.Key == "Monday-Friday").Value</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <ul class="list-inline text-right icon-style-1">
                        <li class=" hvr-rectangle-out"><a href="@settings.FirstOrDefault(x => x.Key == "Twitter").Value"><i class="bi bi-twitter"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="@settings.FirstOrDefault(x => x.Key == "Instagram").Value"><i class="bi bi-instagram"></i></li>
                        <li class=" hvr-rectangle-out"><a href="@settings.FirstOrDefault(x => x.Key == "LinkedIn").Value"><i class="bi bi-linkedin"></i></a></li>
                        <li class=" hvr-rectangle-out"><a href="@settings.FirstOrDefault(x => x.Key == "Facebook").Value"><i class="bi bi-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="main-navbar conner-style style-2 position-fixed">
        <div class="container padding-none">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand dis-none" asp-controller="home" asp-action="index">
                                <img src="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Header Logo").Value" alt="">
                            </a>
                            <a class="navbar-brand dis-block" asp-controller="home" asp-action="index">
                                <img src="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Header Logo").Value" alt="">
                            </a>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations-delay="1.8s" data-animations="fadeInUp">
                            <ul class="nav navbar-nav bg-none navbar-right style-3">
                                <li>
                                    <a asp-controller="home" asp-action="index">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span data-hover="Depertment">Depertment <i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a asp-controller="department" asp-action="Cardilogists">Cardilogists Depertment</a>
                                        </li>
                                        <li>
                                            <a asp-controller="department" asp-action="Orthopaedics">Orthopaedics Depertment</a>
                                        </li>
                                        <li>
                                            <a asp-controller="department" asp-action="Gastronelogy">Gastroenlogy Depertment</a>
                                        </li>
                                        <li>
                                            <a asp-controller="department" asp-action="Neuroscien">Neuroscien Depertment</a>
                                        </li>
                                        <li>
                                            <a asp-controller="department" asp-action="Spine">Spine Depertment</a>
                                        </li>
                                        <li>
                                            <a asp-controller="department" asp-action="Cancer">Cancer Depertment</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a asp-controller="doctor" asp-action="index">Doctors</a>
                                </li>


                                @*<li>
                                    <a asp-controller="shop" asp-action="index">Shop</a>
                                </li>*@

                                <li>
                                    <a asp-controller="home" asp-action="contact">Contact</a>
                                </li>

                                @*<li>
                                    <div class="dropdown-buttons">
                                        <div class="btn-group">
                                            <button type="button" class="btn dropdown-toggle" id="header-drop-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon icon-ShoppingCart"></i><span class="menu-cart">8</span></button>
                                            <ul class="dropdown-menu dropdown-menu-right cart dropdown-animation" aria-labelledby="header-drop-4">
                                                <li>
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th class="quantity">QTY</th>
                                                                <th class="product">Product</th>
                                                                <th class="amount">Subtotal</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="quantity">2 x</td>
                                                                <td class="product"><a href="shop-product.html">Android 4.4 Smartphone</a><span class="small">4.7" Dual Core 1GB</span></td>
                                                                <td class="amount">$199.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="quantity">3 x</td>
                                                                <td class="product"><a href="shop-product.html">Android 4.2 Tablet</a><span class="small">7.3" Quad Core 2GB</span></td>
                                                                <td class="amount">$299.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="quantity">3 x</td>
                                                                <td class="product"><a href="shop-product.html">Desktop PC</a><span class="small">Quad Core 3.2MHz, 8GB RAM, 1TB Hard Disk</span></td>
                                                                <td class="amount">$1499.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="total-quantity" colspan="2"><strong>Total 8 Items</strong></td>
                                                                <td class="total-amount"><strong>$1997.00</strong></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="panel-body text-right">
                                                        <a asp-controller="shop" asp-action="Cart" class="menu-shop-btn">View Cart</a>
                                                        <a asp-controller="shop" asp-action="Checkout" class="menu-shop-btn">Checkout</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>*@
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Header navbar end -->

    @RenderBody()

    <!-- Footer Style start -->
    <footer class="bg-faded">
        <div class="container">
            <div class="section-content">
                <div class="row margin-top-30">
                    <div class="col-md-3">
                        <div class="footer-item footer-widget-one">
                            <img alt="" src="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Footer Logo").Value" class="footer-logo">
                            <p>@settings.FirstOrDefault(x => x.Key == "Footer description").Value</p>

                            <ul class="address">
                                <li><i class="fa-sharp fa-solid fa-phone"></i>Phone: @settings.FirstOrDefault(x => x.Key == "Phone").Value</li>
                                <li><i class="fa-solid fa-envelope"></i><a href="mailto:@settings.FirstOrDefault(x => x.Key == "Email").Value">Email: @settings.FirstOrDefault(x => x.Key == "Email").Value</a></li>
                            </ul>

                            <hr>
                            <ul class="social-icon bg-theme">
                                <li class=" hvr-rectangle-out"><a href="@settings.FirstOrDefault(x => x.Key == "Twitter").Value"><i class="bi bi-twitter"></i></a></li>
                                <li class=" hvr-rectangle-out"><a href="@settings.FirstOrDefault(x => x.Key == "Instagram").Value"><i class="bi bi-instagram"></i></li>
                                <li class=" hvr-rectangle-out"><a href="@settings.FirstOrDefault(x => x.Key == "LinkedIn").Value"><i class="bi bi-linkedin"></i></a></li>
                                <li class=" hvr-rectangle-out"><a href="@settings.FirstOrDefault(x => x.Key == "Facebook").Value"><i class="bi bi-facebook"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>Our Peges </h4>
                                <div class="border-style-2"></div>
                            </div>
                            <ul class="footer-list border-deshed color-icon">
                                <li><i class="bi bi-caret-right-fill"></i><a href="#service">Services</a></li>
                                <li><i class="bi bi-caret-right-fill"></i><a asp-controller="home" asp-action="contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-item">
                            <div class="footer-title">
                                <h4>Our Services </h4>
                                <div class="border-style-2"></div>
                            </div>
                            <ul class="footer-list border-deshed color-icon">
                                <li><i class="bi bi-caret-right-fill"></i><a asp-controller="department" asp-action="Cardilogists">Cardilogy</a></li>
                                <li><i class="bi bi-caret-right-fill"></i><a asp-controller="department" asp-action="Gastronelogy">Gastroenterology</a></li>
                                <li><i class="bi bi-caret-right-fill"></i><a asp-controller="department" asp-action="Orthopaedics">Orthopaedics</a></li>
                                <li><i class="bi bi-caret-right-fill"></i><a asp-controller="department" asp-action="Neuroscien">Neurosciens</a></li>
                                <li><i class="bi bi-caret-right-fill"></i><a asp-controller="department" asp-action="spine">Spine Care</a></li>
                                <li><i class="bi bi-caret-right-fill"></i><a asp-controller="department" asp-action="cancer">Cancer Care</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-item">
                            <div class="footer-item clearfix">
                                <div class="footer-title">
                                    <h4>Fliker Feed</h4>
                                    <div class="border-style-1"></div>
                                </div>
                                <div class="flicker-feed gutter">
                                    <a href="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 1").Value" class="lightbox-image" title="Medicative"><img src="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 1").Value" alt=""></a>
                                    <a href="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 2").Value" class="lightbox-image" title="Medicative"><img src="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 2").Value" alt=""></a>
                                    <a href="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 3").Value" class="lightbox-image" title="Medicative"><img src="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 3").Value" alt=""></a>
                                    <a href="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 4").Value" class="lightbox-image" title="Medicative"><img src="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 4").Value" alt=""></a>
                                    <a href="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 5").Value" class="lightbox-image" title="Medicative"><img src="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 5").Value" alt=""></a>
                                    <a href="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 6").Value" class="lightbox-image" title="Medicative"><img src="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 6").Value" alt=""></a>
                                    <a href="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 7").Value" class="lightbox-image" title="Medicative"><img src="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 7").Value" alt=""></a>
                                    <a href="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 8").Value" class="lightbox-image" title="Medicative"><img src="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 8").Value" alt=""></a>
                                    <a href="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 9").Value" class="lightbox-image" title="Medicative"><img src="~/uploads/settings/@settings.FirstOrDefault(x => x.Key == "Flicker 9").Value" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Style End -->


    <a href="#" class="scrollup"><i class="bi bi-arrow-up-short"></i></a>
    
    @await Html.PartialAsync("_LayoutJsPartial")

</body>



</html>

